/* Geral */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Header banner */
.header-banner {
  background: #254443;
}

.header-banner .header-banner-container {
  padding: 11px 0px 11px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-banner .site-global-link {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  text-align: left;
  -webkit-box-align: center;
  margin-left: 40px;
}

.header-banner .site-global-link a {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.header-banner .dropdown {
  position: relative;
  display: inline-block;
}

.header-banner .dropdown a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}


.header-banner .dropdown .dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

.header-banner .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  margin-top: 12px;
  z-index: 1;
}

.header-banner .dropdown .dropdown-content ul li a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: #254443;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #B6DEDD;
}

.header-banner .dropdown .dropdown-content li a:hover {
  color: #fff;
}
.header-banner .dropdown .dropdown-content li a:hover {
  background-color: #416665;
}

.show {display:block;}


.header-banner .dropdown .dropdown-icons::before {
  content: '';
  background-image: url(../img/globe.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
}


.header-banner .dropdown .dropdown-icons::after {
  content: '';
  background-image: url(../img/seta-baixo.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 8px;
  position: relative;
  margin-left: 5px;
}

.header-banner .dropdown .dropdown-icons::after {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.header-banner .dropdown .open::after {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.header-banner .login {
  margin-right: 40px;
  margin-left: 70px;
}

.header-banner .login a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}


.header-banner .login .login-icon::after {
  content: '';
  background-image: url(../img/user-login.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
}

/* Header */
.header-container {
  background: #1B2728;
  padding: 25px 0;
}

.header-container .header-flex {
  display: flex;
  align-items: center;
}

.header-container .container .logo a {
  display: block;
}

.header-container .container .menu-nav {
  flex: 1;
}

.header-container .container .menu-nav ul {
  float: right;
  display: flex;
  list-style: none;
}

.header-container .container .menu-nav a {
  text-decoration: none;
  font-size: 1.125em;
  color: #fff;
  text-transform: uppercase;
}

.header-container .container .menu-nav li + li {
  margin-left: 50px;
}

.main .intro-background {
  background: url(../img/rio-de-janeiro-background.jpg) no-repeat center center;
  background-size: cover;
}

#mini-slide-info {
  background-color: #EE4433;
}

.main .intro-background .slide-info {
  width: 310px;
  top: 160px;
  bottom: auto;
  margin-left: 44px;
}

.main .intro-background .slide-info .slick-list a {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 11px 0;
  text-align: center;
}

.main .intro-background .slide-info .slick-prev::before, .slick-next::before  {
  content: '';
  width: 32px;
  height: 34px;
  position: relative;
  display: block;
  background-image: url('../img/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.main .intro-background .slide-info .slick-prev::before {
  transform: rotate(180deg);
}

.main .intro-background .slide-info .slick-prev {
  position: absolute;
  z-index: 1;
  left: 0;
  background: #EE4433;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.main .intro-background .slide-info .slick-next {
  margin-left: 310px;
  margin-top: -36px;
  position: absolute;
  z-index: 1;
  color: #fff;
  background: #EE4433;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.main .intro-background .slide-info .slick-next:hover {
  background-color: #A52C20;
}

.main .intro-background .slide-info .slick-prev:hover {
  background-color: #A52C20;
}