/* Geral */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding: 0px 40px 0px 0px;
  background-image: url(../img/seta-baixo.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right center;
}

/* Header banner */
.header-banner {
  background: #254443;
}

.header-banner .header-banner-container {
  padding: 11px 0px 11px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-banner .site-global-link {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  text-align: left;
  -webkit-box-align: center;
  margin-left: 40px;
}

.header-banner .site-global-link a {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.header-banner .dropdown {
  position: relative;
  display: inline-block;
}

.header-banner .dropdown a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}


.header-banner .dropdown .dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

.header-banner .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  margin-top: 12px;
  z-index: 1;
}

.header-banner .dropdown .dropdown-content ul li a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: #254443;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #B6DEDD;
}

.header-banner .dropdown .dropdown-content li a:hover {
  color: #fff;
}
.header-banner .dropdown .dropdown-content li a:hover {
  background-color: #416665;
}

.show {display:block;}


.header-banner .dropdown .dropdown-icons::before {
  content: '';
  background-image: url(../img/globe.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
}


.header-banner .dropdown .dropdown-icons::after {
  content: '';
  background-image: url(../img/seta-baixo.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 8px;
  position: relative;
  margin-left: 5px;
}

.header-banner .dropdown .dropdown-icons::after {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.header-banner .dropdown .open::after {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.header-banner .login {
  margin-right: 40px;
  margin-left: 70px;
}

.header-banner .login a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}


.header-banner .login .login-icon::after {
  content: '';
  background-image: url(../img/user-login.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
}

/* Header */
.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.header-container {
  background: #1B2728;
  padding: 25px 0;
}

.header-container .header-flex {
  display: flex;
  align-items: center;
}

.header-container .container .logo a {
  display: block;
}

.header-container .container .menu-nav {
  flex: 1;
}

.header-container .container .menu-nav ul {
  float: right;
  display: flex;
  list-style: none;
}

.header-container .container .menu-nav a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.header-container .container .menu-nav li + li {
  margin-left: 50px;
}

.main .intro-background {
  background: url(../img/rio-de-janeiro-background.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
}

#mini-slide-info {
  background-color: #EE4433;
}

.main .intro-background .slide-info {
  width: 310px;
  margin-left: 44px;
  display: block;
}

.main .intro-background .slide-info .slick-list a {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 11px 0;
  text-align: center;
}

.main .intro-background .slide-info .slick-prev::before, .slick-next::before  {
  content: '';
  width: 32px;
  height: 34px;
  position: relative;
  display: block;
  background-image: url('../img/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.main .intro-background .slide-info .slick-prev::before {
  transform: rotate(180deg);
}

.main .intro-background .slide-info .slick-prev {
  position: absolute;
  z-index: 1;
  left: 0;
  background: #EE4433;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.main .intro-background .slide-info .slick-next {
  margin-left: 310px;
  margin-top: -36px;
  position: absolute;
  z-index: 1;
  color: #fff;
  background: #EE4433;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

.main .intro-background .slide-info .slick-next:hover {
  background-color: #A52C20;
}

.main .intro-background .slide-info .slick-prev:hover {
  background-color: #A52C20;
}

.flex-intro {
  display: flex;
}

.main .intro-background .intro-title h1 {
  font-size: 5em;
  color: #fff;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  margin-top: 260px;
}


/* Estilização do formulario */
.container-card-contato {
  width: 420px;
  flex-shrink: 0;
  flex-basis: 420px;
  background: rgba(37, 68, 67, .8);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 44px;
}

.container-card-contato .card-contato {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.container-card-contato .card-contato .logo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

.container-card-contato .card-contato .form .form-group {
  margin-left: 20px;
  font-size: 18px;
}

.container-card-contato .card-contato .form .group-1 {
  margin-bottom: 15px;
}

.container-card-contato .card-contato .form .group-2 {
  margin-bottom: 15px;
}

.container-card-contato .card-contato .form .group-3 {
  margin-bottom: 15px;
}

.container-card-contato .card-contato .form-group label {
  color: #E9EEFC;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}

.container-card-contato .card-contato .form-group select {
  background: transparent;
  border: none;
  margin-left: 5px;
  color: #fff;
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid #fff;
  outline: none;
}

.container-card-contato .card-contato .form-group option {
  background: #254443;
}

.container-card-contato .card-contato .form-group input {
  font-family: 'Playfair Display', serif;
  background: transparent;
  outline: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  margin-left: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../img/calendar-2.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.container-card-contato .card-contato .form .especial {
  margin-top: 20px;
  padding-bottom: 20px;
}

.container-card-contato .card-contato .form .especial a {
  color: #fff;
  margin-left: 20px;
}

.buttom {
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 align-items: flex-end;
}

.btn {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 420px;
  color: #fff;
  background: #EE4433;
  outline: none;
  border: none;
  cursor: pointer;
}


/* Introdução / História */
.intro-descricao {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.intro-historia {
  margin-left: 100px;
}

.intro-sub-titulo {
  font-size: 24px;
  font-style: italic;
  color: #414C4D;
}

.intro-titulo {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  color: #1B2728;
  margin-top: 10px;
}

.tabela-intro {
  font-size: 14px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.tabela-intro td {
  border: 1px solid #898989;
}

.tab-endereco {
  display: flex;
}

.tab-container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 50px;
}

.span-link {
  color: #A52C20;
  margin-left: 10px;
}

.span-link:hover {
  color: #898989;

}

.span-color {
  color: #A52C20;
}

.my-span {
  margin-left: 10px;
}

.intro-sobre {
  margin-top: 90px;
}

.sub-titulo-sobre {
  font-size: 18px;
  color: #1B2728;
  font-weight: 300;
  text-transform: uppercase;
}

.titulo-sobre {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #1B2728;
  font-weight: 300;
  margin-top: 8px;
}

.paragrafo-sobre {
  font-size: 18px;
  color: #323A3A;
  font-weight: 300;
  margin-top: 20px;
  line-height: 30px;
}

/*  Inicio sessão Salas */
.sessao-salas {
  margin-top: 160px;
  background: #254443;
}

.titulo-salas {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.titulo-salas::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 10px auto;
}

.grid-salas {
  max-width: 1222px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

/*.sala-01 {
  margin-right: 30px;
  flex-basis: 0;
}*/

/*.sala-02 {
  flex-basis: 0;
}*/

.sala-descricao {
  background: #fff;
  width: 596px;
}

.titulo-master {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  color: #1B2728;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.titulo-master::after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #1B2728;
  margin: 7px auto;
}

.paragrafo-master {
  font-size: 14px;
  text-align: center;
  color: #323A3A;
  margin-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 20px;
}

.sala-icones {
  margin-top: 20px;
}

.sala-icones ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-icones {
  display: flex;
  justify-content: center;
}

.icone-02 {
  margin-left: 50px;
  margin-right: 35px;
}

.bg-circulo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #64615F;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}

.icon-cama {
  margin-top: 9px;
  margin-left: 7px;
}

.icon-pessoa {
  margin-top: 8px;
  margin-left: 9px;
}

.icon-cadeirante {
  margin-top: 9px;
  margin-left: 9px;
}

.span-salas {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
}

.compra {
  display: flex;
  justify-content: center;
  background: #64615F;
  margin-top: 30px;
}

.botoes {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-01 {
  font-size: 14px;
  font-weight: 700;
  background: #254443;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-02 {
  font-size: 14px;
  font-weight: 300;
  background: #959898;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.titulo-suites {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 150px;
}

.titulo-suites::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 10px auto;
}


.grid-salas-premier {
  max-width: 1222px;
  display: grid;
  margin: 0 auto; 
  grid-template-columns: 1fr;
  margin-top: 30px;
  padding-bottom: 200px;
}

.flex {
  display: flex;
}

.sala-descricao-premier {
  display: block;
  width: 626px;
  background: #fff;
}

.chamada-reserva {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.titulo-master-premier {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  color: #1B2728;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
}

.titulo-master-premier::after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #1B2728;
  margin: 7px auto;
}

.sala-icones-premier {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sala-icones-premier ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compra-premier {
  display: flex;
  justify-content: center;
  background: #64615F;
}

/*  Sessão Instagram  */
.fan {
  font-size: 24px;
  font-style: italic;
  color: #414C4D;
  margin-top: 100px;
  margin-bottom: 15px;
}

.hash-instagram {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  color: #1B2728;
  margin-bottom: 20px;
}

.p-instagram {
  font-size: 18px;
  color: #323A3A;
  line-height: 30px;
}

.span-instagram {
  color: #254443;
  font-weight: bold;
}

.galeria-instagram {
  font-size: 16px;
  font-weight: bold;
  color: #254443;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
}


